name: CI Pipeline - Docker Build & Push

on:
  push:
    branches: [ "main" ]

jobs:
  docker-build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
            -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: |
          docker build -t avinashranchagi/my-nginx-app:latest .

      - name: Push Docker image to Docker Hub
        run: |
          docker push avinashranchagi/my-nginx-app:latest

